.header {
    background-color: #3f51b5;
    height: 20%;
    flex-direction: row;
    color: #fff;
    text-shadow: 0 0 4px rgb(0, 0, 0);
    padding-right: 135%;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 10%;
}

.header .logo {
    margin-left: 0%;
    margin-right: 5%;
    max-height: 8rem;
}


