.container {
    background-image: url("../../../assets/img/barber2.jpg");
    height: 88vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;

    display: flex;
    align-items: center;
}

.container h1 {
    color: wheat;
    margin-left: 30px;
    font-size: 5em;
    padding: 50px;
}